@import url("https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
    

}
h6{
    font-weight: 700;
    font-size: 12;
}
p{
    font-size: 16;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{

    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
#mobile{
    display: none;
    align-items: center;
}

#btn{
    display: none;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: wheat;
    box-shadow: 0 5px 15px rgba(236, 11, 11, 0.9);
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    width: 100px;
    
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: green;
    font-weight: 900;
    font-size: 18px;

}
#navbar li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#navbar.active{
    right: 0;
}
.head{
    color: blue;
    margin-right: 300px;
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: 0;
   
}


#hero{
background-image: url(images/image3.jpeg);
background-size: cover;
height: 90vh;
width: 100%;
padding: 0 80px;
margin-top: 15px;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
animation: animate 16s ease-in infinite;
}
@keyframes animate{
    0%,100% {
        background-image: url(images/image3.jpeg);
    }
   25% {
        background-image: url(images/soldgers1.jpg);
    }
    50% {
        background-image: url(images/soldgers5.jpg);
    }
    75% {
        background-image: url(images/soldgers2.jpg);
    }
}



#hero h4{
    color: rgb(247, 242, 242);
     
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    
}
#hero p{
    color: rgb(223, 58, 86);
    font-size: 18px;
    font-weight: bold;
}

#hero button{
    font-size: 14px;
    font-weight: 900;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#hero button:hover{
    background-color: #0cc267;
    color: white;
}

.par{
    background-color: rgba(61, 12, 151, 0.5);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 210px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: ipx solid #cce7d0;
    border-radius: 8px;
    margin: 15px 0;

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(26, 17, 197, 1);
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 5px;
}

#banner{
    display: flex;
    
    align-items: center;
    background-color: #041e42;
    background-position: 20% 30%;
    margin-bottom: 20px;
    height: 40vh;
    flex-direction: column;
}
#banner h4{
    color: #fff;
    font-size: 22px;
    padding-left: 50px;
    margin-top: 20px;
    text-align: center;

}
#banner h2{
    color: #5f06c5;
    font-size: 32px;
    font-weight: 900;
    padding: 10px 0;

}
#banner span{
    color: #0cc267;
    

}
button.normal{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}
#banner button:hover{
    background-color: #0cc267;
    color: white;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #041e42;
    background-position: 20% 30%;
    margin-bottom: 20px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(50, 155, 8);
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #0cc267;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
    
}
.logo2{
    width: 80px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px;
}
footer .colum{
     display: flex;
     flex-direction: column;
     margin-top: 50px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 10px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    
    
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    padding-top: 20px;
}
footer .follow i{
    color: green;
    padding-right: 4px;
    cursor: pointer;
}
.copyright{
    margin-top: 100px;
}
footer .follow i:hover,
footer a:hover{
    color: blue;
}
.zero{
    background-color: green;
    width: 99%;
    height: 5px;
    padding-left: 10px;
    margin: 2px;

}
.two{
    background-color: red;
    width: 99%;
    height: 5px;
    padding-left: 10px;
    margin: 2px;

}
.copyright{
    text-align: center;
    margin-top: 15px;
    padding: 5px;
}



/* media Quary */


@media (max-width:799px)
/* home page */
{
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #cce7d0;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 20px;
    }
  #mobile{
    display: flex;
    align-items: center;

    }
    #mobile i{
        color: rgb(0, 17, 255);
        font-size: 24px;
        padding-left: 20px;
    }
    #btn{
        position: absolute;
        top: 30px;
        left: 30px;
        color: red;
        font-size: 24px;
        display: initial;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: left 30% right 30%;

    }
    #banner{
        height: 30vh;
    }
    #newsletter .form{
        width: 80%;
        
    }
    #newsletter{
        flex-direction: column;
    }

    #footer footer{
        padding-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
   

}

@media (max-width:477px) {
    #header{
        padding: 8px 20px;

    }
    #header .head{
        font-size: 16px;
        padding-left: 40px;
        
        word-wrap: initial;
        white-space: nowrap;
    }
    #header .logo{
        width: 70px;
        padding-left: 0;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
       
        
        
    }
    #hero h4{
        font-size: 18px;
        padding-left: 0px;
        
    }
    #banner{
        height: 40vh;
    }
    #newsletter .form{
        width: 150%;  
    }
    #hero .par{
        margin-left: 0;
        width: 100%;
        height: 190px;
    }
   footer .copyright{
    text-align: start;
   }
   #footer footer{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
}
#feature{
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 2px;
    padding-left: 2px;
}

#feature .fe-box{
    width: 150px;
    text-align: center;
    padding-left: 2px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    padding-left: 2px;

}
#banner h2 {
    
    font-size: 22px;
    font-weight: 800;
    text-align: center;

}

   /*about page */
   #about-head{
    flex-direction: column;
    padding: 9px;
    

   }
   #about-head img{
    width: 100%;
    margin-top: 20px;
   }
   #about-head h2{
    white-space: nowrap;
    font-size: 20px;
   }
   #about-head .div1{
    padding-left: 0px;
   }
   #about-us .video {
    width: 100%;
    margin-top: 1px;
    border-radius: 10px;
    padding: 0;
    height: 100%;
 }
   #about-us h1{
    font-size: 23px;
   }


   /* service page */

.about-header h2{
   font-size: 24px;
   margin-bottom: 5px;
}



}
/* end of media Quary */

/* ABOUT PAGE */
 #page-header.about-header{
    background-image: url("images/abouth.jpg");
    width: 100%;
    height: 150px;
   padding-top: 20px;
 }
 #page-header h2{
    color: #fff;
    text-align: center;
    
 }
#page-header p{
    color: #fff;
    text-align: center;
}

 #about-head img{
      width: 50%;
      height: auto;
 }
 #about-head{
    display: flex;
    align-items: center;
 }
 #about-head h2{
    background-color: blue;
    color: white;
    border-radius: 6px;
    text-align: center;
 }
 #about-head div{
    padding-left: 40px;
    padding-top: 30px;
 }
 #about-us{
    text-align: center;
 }
 #about-us .video video{
    width: 70%;
    height: 100%;
    margin-top: 30px;
    border-radius: 20px;
 }
 #mission{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.03);
    
}

#mission .fe-box{
    width: 250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.01);
    border: ipx solid #cce7d0;
    border-radius: 8px;
    

}

#mission .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(26, 17, 197, 1);
}

#mission .fe-box h3{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#misssion .fe-box img{
    width: 100%;
    margin-bottom: 5px;
}
#about-us h1{
    text-decoration: underline;
    color: #d10b85;
}


/* contact page */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details li{
    list-style: none;
    margin-bottom: 40px;

}
#contact-details span{
    color: blue;
    font-size: 18px;
}
#contact-details h3{
    margin-bottom: 20px;
    margin-top: 10px;
    
}
#contact-details h2{
    font-size: 22px;
}
#contact-details .map{
    width: 60%;
    height: 400px;

}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #088178;
    
    width: 80%px;
    
    
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#form-details form span{
    font-size: 14px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#form-details form input,#form-details form textarea
{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #088178;
}
#form-details form button{
    background-color: #0cc267;
    color: #fff;
    margin-bottom: 20px;
}
#form-details .people{
    padding-bottom: 25px;
    
}
#form-details .people img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people p span{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: green;
}
#form-details .people{
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding-left: 25px;
    margin-top: 40px;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    
}


/* service  page */
#services{
    margin-left: 20px;
    padding-top: 20px;
    
}
.check{
background-color: rgba(0,0,0,0.1);
border-radius: 5px;
padding-left: 10%;

}
 .check h1{
font-size: 26px;
}
.check h1 a{
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
}

#services .service-head{
    background-image: url("images/image41.jpeg");
    width: 100%;
    background-size: cover;
    height: 100vh;
   padding: 0 80px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   background-repeat: no-repeat;
   margin-bottom: 20px;
    
}
#services img{
    width: 210px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin: 15px 0;

}
#services img:hover{
    box-shadow: 10px 10px 54px rgba(26, 17, 197, 1);
    
}

#services h2{
    font-size: 26px;
    color: blue;
   margin-bottom: 10px;
   text-align: center;
   font-weight: 900;
   text-decoration: underline;
    
}
#services .service-head {
    font-weight: 600;
    color: rgb(221, 60, 60);
}
#services .services-list{
    background-color: grey;
    margin: 5px;
    width: 90%;
    margin-left: 15px;
}
#services .services-list h4{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: blue;
    width: 70%;
    border-radius: 6px;
}
#services .services-list p{
    font-weight: 600;
    color: white;
}



/* media query contact page */

@media (max-width:477px){
#contact-details{
    display: block;
   padding-left: 10px;
   
   
    
}

#contact-details li{
    list-style: none;
    margin-bottom: 20px;

}
#contact-details span{
    color: blue;
    font-size: 18px;
    padding: 0;
}
#contact-details h3{
    margin-bottom: 10px;
    margin-top: 10px;
    
}
#contact-details h2{
    font-size: 18px;
    line-height: 24px;
}
#contact-details .map{
    width: 100%;
    height: 250px;

}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: block;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    
    
    
    
}
#form-details form{
  width: 100%;
  margin: 0;
}
#form-details form span{
    font-size: 14px;
}
#form-details form h2{
    font-size: 22px;
    line-height: 30px;
    padding: 16px 0;
}
#form-details form input,#form-details form textarea
{
    width: 95%;
    padding: 9px 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #088178;
    
}
#form-details form button{
    background-color: #0cc267;
    color: #fff;
    margin-bottom: 20px;
}
#form-details .peopletitle{
    display: flex;
    flex-direction: column;
    
}
#form-details .people img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people p span{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: green;
}
#form-details .people{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding-left: 25px;
    margin-top: 20px;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start; 
}
#about-us .video{
    width: 100%;
}

.check h1{
    font-size: 20px;
    line-height: 40px;
    
    }
    .check h1 a{
        text-decoration: none;
        background-color: blue;
        color: white;
        border-radius: 4px;
        height: 20px;
        padding: 5px;
    }
    #services h2 {
        font-size: 22px;
        margin-bottom: 5px;
        text-align: center;
        white-space: nowrap;
    }
   

}

@media (max-width:799px){

    #contact-details{
        display: block;
       padding-left: 20px;
       
       
        
    }
    #contact-details li{
        list-style: none;
        margin-bottom: 20px;
    
    }
    #contact-details span{
        color: blue;
        font-size: 18px;
        padding: 0;
    }
    #contact-details h3{
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    #contact-details h2{
        font-size: 18px;
        line-height: 24px;
    }
    #contact-details .map{
        width: 100%;
        height: 300px;
    
    }
    #contact-details .map iframe{
        width: 100%;
        height: 100%;
    }
    #form-details{
        display: block;
        flex-direction: column;
        margin: 5px;
        padding: 10px; 
        
    }
    #form-details form{
      width: 100%;
      margin: 0;
    }
    #form-details form span{
        font-size: 14px;
    }
    #form-details form h2{
        font-size: 22px;
        line-height: 30px;
        padding: 16px 0;
    }
    #form-details form input,#form-details form textarea
    {
        width: 95%;
        padding: 9px 10px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #088178;
        
    }
    #form-details form button{
        background-color: #0cc267;
        color: #fff;
        margin-bottom: 20px;
    }
    #form-details .people{
        padding-bottom: 25px;
        
    }
    #form-details .people img{
        width: 65px;
        height: 65px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50px;
    }
    #form-details .people div p{
        margin: 0;
        font-size: 13px;
        line-height: 25px;
    }
    #form-details .people p span{
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: green;
    }
    #form-details .people{
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        padding-left: 25px;
        margin-top: 20px;
    }
    #form-details .people div{
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start; 
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 100px;
    }
    #about-us .video{
        width: 100%;
    }
    #about-us{
        padding: 0;
        margin: 0;
    }
}

/* terms page */
#page-header.terms-header{
    background-image: url("images/abouth.jpg");
    width: 100%;
    height: 150px;
   padding-top: 20px;
 }
 #page-header h2{
    color: #fff;
    text-align: center;
    
 }
#page-header p{
    color: #fff;
    text-align: center;
}

 #terms-head img{
      width: 500px;
      border-radius: 10px;
      height: 200;
      
 }
 #terms-head{
    display: flex;
    align-items: center;
 }
 #terms-head h2{
    background-color: blue;
    color: white;
    border-radius: 6px;
    text-align: center;
 }
 #terms-head div{
    padding-left: 40px;
    padding-top: 30px;
 }
 .program h5{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 3.5s;
    animation-timing-function: steps(70, end);
    animation-fill-mode: forwards;
    
}
@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}
 #about-us{
    text-align: center;
 }
 #program-work{
    padding: 80px;
    background-color: rgba(82, 240, 142, 0.3);
    padding-top: 10px;
    
 }
 #program-work h2{
    text-align: center;
    color: palevioletred;
 }
 #program-work h5{
 color: rgb(244, 244, 248);
 padding-left: 200px;
 background-color: #e973bc;
 width: 40%;
 padding: 10px;
 border-radius: 6px;
 }
 #program-work p{
    color: #000;
    font-weight: 600;
 }

 /* terms media query */

 @media (max-width:799px){
    
    #page-header.terms-header{
        width: 100%;
        height: 150px;
       padding-top: 10px;
     }
     #page-header h2{
        color: #fff;
        text-align: center;
        
     }
    #page-header p{
        color: #fff;
        text-align: center;
    }
    
     #terms-head img{
          width: 400px;
          border-radius: 10px;
          height: 200;
          margin-top: 10px;
          
     }
     #terms-head{
        display: block;
        margin: 0;
        padding: 0;
        
     }
     #terms-head h2{
        padding: 0;
        width: 90%;
        margin-bottom: 10px;
     }
     #terms-head p{
        width: 90%;
     
     }
    
     #program-work{
        padding: 0;
        background-color: rgba(82, 240, 142, 0.3);
        padding-top: 10px;
        
     }
     #program-work h2{
        text-align: flex-start;
        color: palevioletred;
        width: 90%;
        padding-left: 0;
        font-size: 26px;
     }
     #program-work h5{
     color: rgb(244, 244, 248);
     padding-left: 200px;
     background-color: #e973bc;
     width: 60%;
     padding: 10px;
     border-radius: 6px;
     }
     #program-work p{
        color: #000;
        font-weight: 600;
        align-items: center;
        width: 90%;
     }
 }

 @media (max-width:477px){
    #terms-head h2{
        padding: 2px;
        width: 100%;
        margin-bottom: 10px;
     }
     #terms-head p{
        width: 100%;
        padding-left: 20px;
     
     }
    
     #program-work{
        padding: 20px;
        padding-top: 10px;
        
     }
     #program-work h2{
        text-align: flex-start;
        color: palevioletred;
        width: 100%;
        padding-left: 9px;
        font-size: 26px;
     }
     #program-work h5{
     color: rgb(244, 244, 248);
     padding-left: 20px;
     background-color: #e973bc;
     width: 90%;
     padding: 10px;
     border-radius: 6px;
     }
     #program-work p{
        color: #000;
        font-weight: 600;
        align-items: center;
        width: 100%;
     }
     #terms-head img{
        width: 300px;
        border-radius: 20px;
        padding-left: 50px;
        margin-top: 10px;
     }    
 }

 /* application form */
 #apllication{
    background-color: rgb(141,141,235);
    margin: 20px;
    padding: 15px;
  
  }
 #apllication form{
    background-color: rgb(243, 128, 128);
    color: white;
    padding: 15px;
    align-items: center;
  }
 #apllication input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    
    
  }
  #apllication .submit-button{
    width: 50%;
    background-color: green;
    border: 0;
    color: white;
    height: 10vh;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20%;
    border-radius: 8px;
    
  }
  #apllication .submit-button:hover{
    background-color: blue;
  }
  #apllication p,h1{
    color: white;
    text-align: center
  }
  #apllication .input-radio{
   width: 50%;
   padding: 1px;
    
  }
  .form-control{
    margin-left: 40%;
    padding: 10px;
    
  }
  .input-textarea{
    margin-left: 25%;
    height: 20vh;
    width: 40%;
  }
  /* apply media query */
  @media (max-width:799px){
    .form-control{
        margin-left: 35%;
        padding: 10px;
        
      }
      .input-textarea{
        margin-left: 10%;
        height: 20vh;
        width: 70%;
      }
      #apllication .submit-button{
        margin-left: 10%;

      }
  }

  @media (max-width:479px){
    .form-control{
        margin-left: 1%;
        padding: 10px;
        
      }
      .input-textarea{
        margin-left: 10%;
        height: 15vh;
        width: 90%;
      }
      #apllication .submit-button{
        margin-left: 10%;

      }
      #apllication h1{
        font-size: 20px;
      }

  }

  /* portal page ....*/
  #login_box {
    margin: 10px;
    padding: 10px;
    
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
  .login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    
    position: relative;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: blue;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

/*..........gallery css page ......*/
#gallery-section {
    box-sizing: border-box;
  }
  
  #gallery-section{
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header-gallery {
    text-align: center;
    text-transform: uppercase;
    padding: 22px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  .gallery img:hover{
    box-shadow: 10px 10px 54px rgb(153, 3, 60);
  }
  

/* portal */
.modal{
    opacity: 0;
    background-color: rgb(177, 245, 177);
    border-radius: 12px;
    width: 20%;
   padding: 10px;
   text-align: center;
   height: 10vh;
   line-height: 12px;
   margin-top: 1px;
}
.modal.show{
    opacity: 1;
}

/* ....vacancy table....*/
#vacancy{
    background-color: grey;
    margin-top: 10px;
    width: 100%;
    
} 
#vacancy h1{
    background-color: red;
    border: 10px;
    padding-top: 0;
    height: 50px;
    text-align: center;
    padding-bottom: 2px;
}
#vacancy table{
  width: 800px;
  margin: auto;
  table-layout: fixed;
  text-align: center;
  margin-top: 1px;
  font-family: arial;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 30px;
  max-width: 100%;
}
#vacancy  th, td{
    border: 1px solid green;
    padding: 20px;
    font-size: 15px;
}
#vacancy  th{
    background: purple;
    padding: 15px;
}
#vacancy  td:nth-child(5n+1){
    background-color: rgb(241, 121, 121);
    
}
#vacancy  td:nth-child(5n+2){
    background-color: rgb(110, 188, 240);
    
}
#vacancy  td:nth-child(5n+3){
    background-color: rgb(93, 245, 151);
    
}
#vacancy  td:nth-child(5n+4){
    background-color: rgb(137, 95, 236);
    
}
/* ....media query ... */
@media (max-width:799px){
    #vacancy{
        padding: 0;
        margin: 0;
    }
    #gallery-section {
        box-sizing: border-box;
      }
      
      #gallery-section{
        margin: 0;
        font-family: sans-serif;
        background: #f5f6f7;
        
      }
      #gallery-section h1{
        font-size: 12px;
        line-height: 20px;
      }
      
      .header-gallery {
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        width: 100%;
        border-bottom: 2px solid #fdb347;
        
      }
    #vacancy{
        background-color: grey;
        margin-top: 10px;
    } 
    
    #vacancy h1{
        font-size: 12px;
        line-height: 20px;
        width: 100%;
        height: 30px;
    }
    #vacancy table{
      width: 100%;
      margin: 0;
      table-layout: fixed;
      text-align: center;
      margin-top: 1px;
      font-family: arial;
      
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    #vacancy  th, td{
        padding: 20px;
        font-size: 18px;
    }
    #vacancy  th{
        padding: 20px;
    }
    
}


@media (max-width:499px){
    #vacancy{
        padding: 0;
        margin: 0;
    }
    #gallery-section {
        box-sizing: border-box;
      }
      
      #gallery-section{
        margin: 0;
        font-family: sans-serif;
        background: #f5f6f7;
        
      }
      #gallery-section h1{
        font-size: 12px;
        line-height: 20px;
      }
      
      .header-gallery {
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        width: 100%;
        border-bottom: 2px solid #fdb347;
        
      }
    #vacancy{
        background-color: grey;
        margin-top: 10px;
    } 
    
    #vacancy h1{
        font-size: 12px;
        line-height: 20px;
        width: 100%;
        height: 30px;
    }
    #vacancy table{
      width: 100%;
      margin: 0;
      table-layout: fixed;
      text-align: center;
      margin-top: 1px;
      font-family: arial;
      
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    #vacancy  th, td{
        padding: 15px;
        font-size: 11px;
    }
    #vacancy  th{
        padding: 15px;
    }
    
}